// --- Colors ---
@color-white: white;
@color-blue: #007bff;
@color-green: #28a745;
@color-red: #dc3545;
@color-text-primary: #333333;

// --- Fonts ---
@font-open-sans--light: "Open Sans Light", sans-serif;
@font-open-sans--regular: "Open Sans Regular", sans-serif;
@font-open-sans--regular-italic: "Open Sans Regular Italic", sans-serif;
@font-open-sans--semi-bold: "Open Sans SemiBold", sans-serif;
@font-open-sans--bold: "Open Sans Bold", sans-serif;
@font-open-sans--extra-bold: "Open Sans Extra Bold", sans-serif;

@content-section-padding: 50px 0;
@content-section-padding--mobile: 30px 0;
@content-max-width: 1100px;

//  --- Breakpoints
@breakpoint-tablet--big: 1024px;
@breakpoint-tablet--small: 768px;
@breakpoint-phone: 480px;