// --- Colors ---
@primary-color: #007bff;
@color-white: white;
@color-red: red;
// --- Fonts ---
@font-open-sans--light: "Open Sans Light", sans-serif;
@font-open-sans--regular: "Open Sans Regular", sans-serif;
@font-open-sans--regular-italic: "Open Sans Regular Italic", sans-serif;
@font-open-sans--semi-bold: "Open Sans SemiBold", sans-serif;
@font-open-sans--bold: "Open Sans Bold", sans-serif;
@font-open-sans--extra-bold: "Open Sans Extra Bold", sans-serif;

//  --- Breakpoints
@breakpoint-tablet--big: 1024px;
@breakpoint-tablet--small: 768px;
@breakpoint-phone: 480px;
