.mobile-menu {
    width: 100%;
    max-width: 375px;
    height: 100%;
    background-color: @color-white;
    position: absolute;
    top: 80px;
    right: -100%;
    transition: right .3s ease;

    &.open {
        right: 0;
    }

    &__inner-container {
        height: 100%
    }
}

.mobile-navigation {}